*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{

background:linear-gradient(135deg,#4facfe,#00f2fe);

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

width:450px;

background:white;

padding:25px;

border-radius:20px;

box-shadow:0 20px 40px rgba(0,0,0,.2);

}

h1{

text-align:center;

margin-bottom:20px;

color:#333;

}

.input-box{

display:flex;

gap:10px;

margin-bottom:15px;

}

.input-box input{

flex:1;

padding:12px;

border:1px solid #ccc;

border-radius:10px;

outline:none;

font-size:16px;

}

.input-box button{

padding:12px 20px;

background:#2196f3;

border:none;

color:white;

border-radius:10px;

cursor:pointer;

font-size:15px;

}

.input-box button:hover{

background:#1976d2;

}

#search{

width:100%;

padding:10px;

margin-bottom:15px;

border-radius:10px;

border:1px solid #ccc;

outline:none;

}

.filters{

display:flex;

justify-content:space-between;

margin-bottom:15px;

}

.filters button{

padding:8px 18px;

border:none;

background:#eee;

cursor:pointer;

border-radius:8px;

}

.filters button:hover{

background:#2196f3;

color:white;

}

#count{

margin-bottom:15px;

font-weight:bold;

}

ul{

list-style:none;

}

li{

display:flex;

justify-content:space-between;

align-items:center;

background:#f4f4f4;

padding:12px;

margin-bottom:10px;

border-radius:10px;

transition:.3s;

}

li.completed{

text-decoration:line-through;

background:#d4edda;

color:gray;

}

.task{

flex:1;

cursor:pointer;

}

.actions i{

margin-left:12px;

cursor:pointer;

font-size:18px;

}

.fa-trash{

color:red;

}

.fa-pen{

color:orange;

}

.fa-check{

color:green;

}

@media(max-width:500px){

.container{

width:95%;

}

}