*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:#f2f4f7;
transition:.3s;
}

header{
background:#0d6efd;
color:white;
padding:20px;
text-align:center;
}

.controls{
display:flex;
justify-content:center;
gap:15px;
margin-top:20px;
flex-wrap:wrap;
}

input,select{
padding:10px;
width:220px;
border:none;
border-radius:5px;
}

button{
padding:10px 15px;
border:none;
background:#222;
color:white;
border-radius:5px;
cursor:pointer;
}

.course-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;
padding:30px;
}

.card{
background:white;
border-radius:10px;
overflow:hidden;
box-shadow:0 3px 10px rgba(0,0,0,.2);
transition:.3s;
}

.card:hover{
transform:translateY(-6px);
}

.card img{
width:100%;
height:180px;
object-fit:cover;
}

.content{
padding:15px;
}

.content h2{
margin-bottom:10px;
}

.category{
display:inline-block;
background:#0d6efd;
color:white;
padding:5px 10px;
border-radius:20px;
font-size:13px;
margin-bottom:10px;
}

.price{
color:green;
font-size:22px;
font-weight:bold;
margin-top:10px;
}

.rating{
color:orange;
margin:10px 0;
}

.bottom{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:15px;
}

.enroll{
background:#198754;
}

.favorite{
font-size:22px;
cursor:pointer;
color:gray;
}

.favorite.active{
color:red;
}

.dark{
background:#1d1d1d;
color:white;
}

.dark .card{
background:#2d2d2d;
color:white;
}